.root {
    font-size: 16px;
}

h1 {
    color:rgb(56, 56, 56);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 3rem;
}

h2 {
    color: dimgray;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

body {
    background: #F0F0F0;
}

.main .bio {
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.main {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    background: white;
    margin-top: 100px;
    padding-top: 60px;
    min-height: calc(100vh - 100px);
    box-shadow: 0px 0px 2px lightgray;
}

.tiles {
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    margin: 10px 0px;
}

.item {
    background: white;
    min-height: 300px;
    width: 100%;
    box-shadow: 0px 0px 2px gray;
    margin-bottom: 50px;
    padding: 20px 20px;
    box-sizing: border-box;
}

.item h3{
    color: dimgray;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}

.item p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.item-content {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

.item-content img {
    max-height: 200px;
    max-width: 250px;
    object-fit: cover;
    background: yellow;
    margin: 10px;
}

.item-content .para {
    background: rgb(255, 255, 255);
    width: 100%;
    height: 200px;
    margin: 10px;
}

.item a {
    margin-right: 10px;
}